<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BankManagementSystem.Properties.Settings.BankManagementSystemConnectionString"
            connectionString="Data Source=DESKTOP-4SMS22N\SQLEXPRESS;Initial Catalog=BankManagementSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>